<div class="jumbotron"> <!--bootstrap class-->
  <h1>Welcome to my home page!</h1>
</div>
<!--Row-1 holds the form links-->
<div class="row row-1">
  <div class="col-md-6">
    <div class="well home-well-1">
      <%= link_to "Contact Me Here:", new_contact_path, class: 'btn btn-lg btn-block btn-primary' %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well home-well-1.5">
      <%= link_to "In Depth Inquiry:", new_inquiry_path, class: 'btn btn-lg btn-block btn-primary' %>
    </div>
  </div>
</div>
<!--Row-2 holds my website links-->
<div class="row row-2">
  <div class="col-md-6">
    <div class="well home-well-2">
      <h2>Check Me Out: Bitbucket</h2>
      <p>Bitbucket links</p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well home-well-3">
      <h2>Check Me Out:</h2>
      <p>My website links</p>
    </div>
  </div>
</div>
<!--Row-3 holds the about Mitchell div-->
<div class="row row-3">
  <div class="col-md-10 col-md-offset-1">
    <div class="well home-well-4">
      <h2>About Mitchell Hoffarth</h2>
      <p>About me.</p>
    </div>
  </div>
</div>