<!--I am using Bootstrap classes-->
<div class="row">
  <div class="col-md-12">
    <div class="jumbotron"> <!--bootstrap class-->
      <h1>Welcome to My Contact Page!</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="well">
      <%= link_to "Back to Home:", root_path, class: 'btn btn-lg btn-block btn-primary' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="well">
      <!--form for the contact object from contacts_controller.rb-->
      <%= form_for @contact do |f| %>
        <div class="contact-form">
          <!--Title of contact form-->
          <h2 class="text-center">Contact form:</h2>
          
          <!--Name field-->
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
            
          <!--Email field-->
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>
          </div>
          
          <!--Subject field-->
          <div class="form-group">
            <%= f.label :subject %>
            <%= f.text_field :subject, class: 'form-control' %>
          </div>
          
          <!--Message text area-->
          <div class="form-group">
            <%= f.label :message %>
            <%= f.text_area :message, class: 'form-control' %>
          </div>
          
          <!--Button to submit the contact form-->
          <div class="form-group">
            <%= f.submit "Submit", class: 'btn btn-success' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>