<!DOCTYPE html>
<html>
  <html>
  <head>
    <!--styles need to go here in the head because they do not work from other files because its the email-->
    <!--Don't get in the habbit of putting styles in the head of your files it's a bad idea-->
    <style>
      .contact-email-whole {
        padding: 6px;
        width: 95%;
        background-color: gray;
      }
      .contact-email-body,
      .contact-email-footer {
        background-color: #222;
        color: #337ab7;
        width: 95%;
        margin-top: 2px;
        margin-bottom: 2px;
        margin-left: 4px;
        margin-right: 0px;
        padding: 0px 4px;
      }
    </style>
  </head>
  <body>
    <!--contact-email-whole holds the entire contact email-->
    <div class="well contact-email-whole">
      <h1><%= "#{ @name }"%></h1>
      <!--Contact-email-body holds the subject and body of the message-->
      <div class="contact-email-body">
        <!--The message subject is assigned from the contact_mailer.rb file-->
        <p><%= @body %></p> <!--@body is used for message-->
        <p>from: <%= "#{ @email}" %></p>
      </div>
    <!-- contact-email-footer div holds encouraging sentiments -->
      <div class="contact-email-footer">
        <p>Keep on being a badass bro! You are really good looking! MitchellHoffarthLMC.com account holders opinion.</p>
      </div>
    </div>
  </body>
</html>