// Import bootstrap libraries \\
@import "bootstrap-sprockets";
@import "bootstrap";
// Importing Font Awesome \\
@import "font-awesome-sprockets";
@import "font-awesome";

//--------------------HOME PAGE--------------------\\
.home-well-1,
.home-well-2,
.home-well-3,
.home-well-4 {
  text-align: center;
}

//----------CONTACT FORM ALERT MESSAGES----------\\
// this is the alert box/div position \\
.alert { // Devise \\
  padding: 15px;
  margin-top: 20px;
  margin-left: 25%;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 50%;
}
// this is the alert message/text style \\
.alert-notice,  // Devise \\ // Success message \\
.alert-noticefail,
.alert-inquiry,
.alert-inquiryfail { // My class \\ // Error message \\
  background-color: #222; // Color of inverse-navbar \\
  border-color: #337eb7; // Standard link blue
  text-align: center;
}
// app/contollers/contacts_controller.rb \\
.alert-notice,
.alert-inquiry { // Devise \\ // Success message \\
  color: green;
}
// app/contollers/contacts_controller.rb \\
.alert-noticefail,
.alert-inquiryfail { // My class \\ // Error message \\
  color: red;
}