// Universal element styles related to general setup \\
* {
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 17px;
  overflow-x: hidden;
  background-color: #000; // #000 = black \\
}

// This is how you add a background image to heroku { image-url("image_name.type") } with rails 4 and add contrast by making the image darker and a little transparent \\
.content-container {
  // rgba(red, greenn, blue, transparency) \\ 
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)); //, image-url("file-name")
  background-size: cover;
  background-position: center;
  height: 100vh; // vh = 'view height' (height of screen viewing your page) \\
  margin: 5%, 0%;
  margin-right: 3.75%;
}

// Body/Middle of all pages (Content) \\
.jumbotron { // Bootstrap \\
  background-color: #222;
  color: #337ab7; // #337ab7 is the default blue color of html links \\
  text-align: center;
  border: 1px solid #337ab7;
  border-radius: 7px;
  margin-top: 30px;
  margin-bottom: 15px;
}
.well { // Bootstrap \\
  background-color: #222;
  color: #337ab7;
  border: 1px solid #337ab7;
  border-radius: 7px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.form-control { // Bootstrap class for the form fields themselves \\
  background-color: black;
  color: gray;
  border: 1px #337ab7 solid;
}
.form-group { // Bootstrap class for the labels of form fields \\
  text-align: center;
}