<!--I am using Bootstrap classes-->
<div class="row">
  <div class="col-md-12">
    <div class="jumbotron"> <!--bootstrap class-->
      <h1>Welcome to My In Depth Inquiry Page!</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="well">
      <%= link_to "Back to Home:", root_path, class: 'btn btn-lg btn-block btn-primary' %>
    </div>
  </div>
</div>

<!--Define the variables for the form field labels-->
<% one = "What are your companies thoughts on flexible schedules?" %>
<% two = "Do you work with ruby on rails as your primary framework for development?" %>
<% three = "Red or Green?" %>
<% four = "" %>
<% five = "" %>
<% six = "" %>
<% seven = "" %>
<% eight = "" %>
<% nine = "" %>
<% ten = "Email address for a reply, if any." %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="well">
      <!--form for the inquiry object from inquiries_controller.rb-->
      <%= form_for @inquiry do |f| %>
        <div class="inquiry-form">
          <!--Title of inquiry form-->
          <h3 class="text-center">In Depth Inquiry Form:</h3>
          
          <!--Question One-->
          <!--Variables are defined as strings that are questions as form field labels-->
          <div class="form-group">
            <%= f.label one %> <!--Form field label-->
            <%= f.text_area :one, class: 'form-control' %><!--db column from name-->
          </div>
            
          <!--Two-->
          <div class="form-group">
            <%= f.label two %>
            <%= f.text_area :two, class: 'form-control' %>
          </div>
          
          <!--Three-->
          <div class="form-group">
            <%= f.label three %>
            <%= f.text_area :three, class: 'form-control' %>
          </div>
          
          <!--Four-->
          <div class="form-group">
            <%= f.label :four %>
            <%= f.text_area :four, class: 'form-control' %>
          </div>
          
          <!--Five-->
          <div class="form-group">
            <%= f.label :five %>
            <%= f.text_area :five, class: 'form-control' %>
          </div>
          
          <!--Six-->
          <div class="form-group">
            <%= f.label :six %>
            <%= f.text_area :six, class: 'form-control' %>
          </div>
          
          <!--Seven-->
          <div class="form-group">
            <%= f.label :seven %>
            <%= f.text_area :seven, class: 'form-control' %>
          </div>
          
          <!--Eight-->
          <div class="form-group">
            <%= f.label :eight %>
            <%= f.text_area :eight, class: 'form-control' %>
          </div>
          
          <!--Nine-->
          <div class="form-group">
            <%= f.label :nine %>
            <%= f.text_area :nine, class: 'form-control' %>
          </div>
          
          <!--Ten-->
          <div class="form-group">
            <%= f.label ten %>
            <%= f.text_area :ten, class: 'form-control' %>
          </div>
          
          <!--Button to submit the contact form-->
          <div class="form-group">
            <%= f.submit "Submit", class: 'btn btn-lg btn-success' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>